{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}<br>
<h1 align="left">My Notes ({{ user.email }})</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data | markdown }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
      <br>
    <button type="button" class="btn btn-light" onClick="makePublic({{ note.id }})">Make public</button>
    <button type="button" class="btn btn-light" onClick="makePrivate({{ note.id }})">Make private</button>
  </li>
  {% endfor %}
</ul>
<br/>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <div align="center">{{ simplemde.load }}</div>
  <br/>
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
  <br/>
</form>
{% endblock %}